{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"/>
  <script src="index.js" defer></script>
  <title>Kid</title>
</head>

<body id="kidPageBody">
  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="35px" height="35px" viewBox="0 0 24 24" fill="none">
            <path stroke="#ffffff" fill-rule="#ffffff" clip-rule="evenodd"
              d="M12 3C7.03005 3 3 7.02908 3 12C3 16.9699 7.03005 21 12 21C16.9699 21 21 16.9699 21 12C21 7.02908 16.9699 3 12 3Z"
              stroke="#200E32" stroke-width="2" stroke-linecap="round" />
            <path d="M13 9L10 12L13 15" stroke="#ffffff" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
          <strong>HOME</strong>
        </a>

        <strong class="navbar-brand d-flex align-items-center" >Allowance earned: ${{ kid.allowance_earned }}</strong>
      </div>
    </div>
  </header>


  <div class="album py-5">
    <div class="container">
      <h1>Hi! {{ kid.name }}</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for kid_chore in selected_kid_chores %}

        
          <div class="card shadow-sm m-2">

            <div class="card-body">
              <p class="card-text">Day: {{ kid_chore.day_of_the_week }} </p>
              <p class="card-text">Chore: {{ kid_chore.chore.name }} </p>
              <p class="card-text">Description: {{ kid_chore.chore.description }}</p>
              <p class="card-text">Is this chore complete? {{ kid_chore.is_complete }}</p>

                {% if kid_chore.is_complete == False  %}
                
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <form method=POST>
                    {% csrf_token %}
                    {{ kid_chore_complete_form }}
                    
                    <input hidden type="number" name="chore_number" value="{{ kid_chore.id }}">
                    <input hidden type="number" name="chore_id" value="{{ kid_chore.chore_id}}">
                    <input class="btn btn-primary my-2" type="submit" name="is_complete" value="Complete?">
                  </form>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        
        {% endfor %}



      </div>

    </div>
  </div>





</body>

</html>