<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parent</title>
</head>
<body>

    <form class="needs-validation" novalidate="">
        <label for="firstName" class="form-label">Kid's name</label>
        <input type="text" class="form-control" id="kids_name" placeholder="" value="" required="">
        <button class="w-100 btn btn-primary btn-lg" type="submit">Create Kid</button>
    </form>





   
</body>
</html>